<!-- slides -->


<div>
    <div class="item active text-center"
        style="margin-left:250px ; margin-top: 200px; position:absolute; z-index:10; width: 50%; height: 400px;">
        <h2 style="color: white; margin-top:100px;">i'am looking for...</h2>
        <br><br>
        <div class="item active text-center" class="bb" style="display:flex;">
            <input style="width:500px; height:50px; margin-left:250px;" placeholder="Enter a job Discription">
            <button style="color: white; height:50px;" class="btn btn-outline-dark">Sarch</button>
        </div>
        <div class="firstpageckbox" style="display:flex; margin-left:250px; margin-top:20px;">
            <input style="margin-top:5px;" type="checkbox" id="che" name="che" ng-model="che" value="true">
            <label for="che" style="color:black; margin-right:20px">Full Time</label>
            <input style="margin-top:5px;" type="checkbox" id="che" name="che" ng-model="che" value="true">
            <label for="che" style="color:black;">PartTime/Casual/Freelance</label>



            <div class="form-group" style="margin-left:60px;">
                <select name="stats" style="width:90%;  border:none;" type="text"
                    style="font-size:1rem; color:grey;">
                    <option value="Maharastra">Select your Location</option>
                    <option value="Pune">Pune</option>
                    <option value="Thane">Thane</option>
                    <option value="Bandra">Bandra</option>
                    <option value="Anderi">Anderi</option>
                </select>

            </div>
        </div>
        <button  style="margin-left:200px;" class=" btn btn-primary" (click)="openRegistrationDialog()">Registration</button>

    </div>
</div>





<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style=" height:90vh; width:70vw;  filter: blur(8px);"
                src="https://images.unsplash.com/photo-1559163499-413811fb2344?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img style=" height:90vh;  filter: blur(8px);"
                src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img style=" height:90vh; width:70vw;  filter: blur(8px);"
                src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>


<div id="about" class="middileone" style="text-align: center;" >
    <h2 style="margin-top:70px;"> We're leaders in</h2>
   <h1> Creative Digital Recruitment</h1>
    <p style="color:blue; " >________</p>
   <br><br>
   <p> Based in Surry Hills, the creative hub of sydney we are surrounded by creative<br>
     and that reflect on the type of jobs we recruit for.</p><br><br>
     <button style=" width: 350px; height: 50px;  border: 2px solid blue; font-size:1rem; background-color: black; color: blanchedalmond;" type="button" class="morebtn">Find Out More about Us</button>
   </div>
   <!-- Footer -->
   <footer style="height:200px; background-color:black; margin-top:100px; padding-bottom:80px;">
   <br>
   <h5 style="color:white; text-align: center; font-size: medium;"> subscribe to our job seeker Mailing List</h5>
   <div style="display:flex; margin-left:550px;"><input style="width:40%; border:2px solid #2F89FC; background-color:black; color:white; " type="text" placeholder="Enter your Email Address">
   <i style="width:40px; height:40px; background-color:black; color:white; border:2px solid #2F89FC;  font-size:2rem; " class="far fa-envelope"></i>
   </div>
   </footer>
 
 <!-- last one -->
   <footer>
     <div id="contact" class="lastfoo">
       <br>
       <p>Find US On<i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> </p> 
     </div>
 
   </footer>